@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #fdfff7;
}

/* Filter Classes for Images */
img.red {
  filter: brightness(40%) sepia(100%) hue-rotate(315deg) saturate(400%);
}

img.green {
  filter: brightness(40%) sepia(100%) hue-rotate(90deg) saturate(400%);
}

img.blue {
  filter: brightness(40%) sepia(100%) hue-rotate(180deg) saturate(400%);
}

/* Button Backgrounds */
button.externalLink {
  background-image: url("./assets/openInNew.svg");
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button.github {
  background-image: url("./assets/github.svg");
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button.linkedin {
  background-image: url("./assets/linkedin.svg");
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Nav Bar */
nav {
  position: relative;
  background-color: #6247aa;
  height: 75px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.75);
}

nav ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  color: #fdfff7;
  height: 100%;
  width: 300px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

li a {
  color: inherit;
  font-size: 24px;
  text-decoration: none;
}

div.highlight {
  position: absolute;
  background-color: #a06cd5;
  height: 75%;
  width: clamp(200px, 25%, 400px);
  border-radius: 25px;
  transition: left 350ms;
}

/* Footer */
footer {
  background-color: #6247aa;
  color: #fdfff7;
  padding: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

footer img {
  filter: brightness(0) saturate(100%) invert(58%) sepia(97%) saturate(2576%)
    hue-rotate(227deg) brightness(88%) contrast(89%);
}

.footerButtons {
  display: flex;
  gap: 16px;
}

.footerButtons button {
  height: 24px;
  width: 24px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(12%) saturate(456%)
    hue-rotate(31deg) brightness(97%) contrast(109%);
}

/* Home Page */
main.homePage section.hero {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

div.heroText {
  padding: 24px;
}

div.heroText p,
div.heroText h1 {
  color: #0a0f0d;
  text-align: center;
}

div.heroText h1 {
  font-size: 48px;
}

div.image {
  position: relative;
}

section.hero div.image img.heroImg {
  height: 350px;
  width: 300px;
  object-fit: cover;
  object-position: 0 -20px;
  box-shadow: 8px 8px 0 0 #a06cd5;
}

div.image p.name {
  color: #fdfff7;
  font-family: "Yellowtail", Cambria, Cochin, Times, serif;
  text-shadow: 2px 2px #0a0f0d;
  font-size: 64px;
  position: absolute;
  bottom: 0;
}

div.image img.arrow {
  position: absolute;
  right: 0;
  bottom: 64px;
  height: 120px;
  width: 120px;
  transform: rotate(30deg);
  filter: brightness(0) saturate(100%) invert(100%) sepia(12%) saturate(456%)
    hue-rotate(31deg) brightness(97%) contrast(109%)
    drop-shadow(2px -1px 0px #0a0f0d);
}

section.introP {
  background-color: #6247aa;
  color: #fdfff7;
  margin-top: 100px;
  padding: 32px 312px 175px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.introP h2 {
  font-size: 32px;
}

.introP p {
  font-size: 28px;
  text-align: center;
}

.introP p a {
  color: #06ba63;
}

main.homePage section.projects {
  display: flex;
  justify-content: center;
}

main.homePage div.projectsContainer {
  background-color: #fdfff7;
  width: 80%;
  padding: 24px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  position: relative;
  top: -100px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

main.homePage div.projects {
  display: flex;
  justify-content: space-evenly;
}

main.homePage div.project {
  position: relative;
  max-width: 300px;
  min-height: 425px;
  border-radius: 8px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

main.homePage div.project img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

main.homePage div.project .text {
  padding: 5px 10px;
}

main.homePage div.project div.buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

main.homePage .project div.buttons button {
  height: 48px;
  width: 48px;
  margin-left: 8px;
}
